* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("imagenes/imagen.fondo.png");
  background-size: cover;
} 
.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  }

.login {
    width: 350px;
    padding: 40px;
    border-radius: 10px;
 
}
.login h1 {
    text-align: center;
    margin-bottom: 30px;
}
.login label {
    display: block;
    margin-bottom: 8px;
}

.card {
  width: 380px;
  height: 508px;
  border-radius: 1rem;
  background-image: url("imagenes/imagen.fondo.png");
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

  .image-container{
    flex: 0.9;
    display: flex;
    justify-content: center;
  }

.card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.card button {
    display: flex;
    gap: 15px;
  }

  .btn{
    display: inline-block;
    padding: 10px 24px;
    border: 1.5px solid #1b4d3e;
    border-radius: 25px;
    color: #1b4d3e;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    transition: all 0.3s ease;
    background-color: transparent;
  }
  
.login p {
    text-align: center;
    margin-top: 20px;
}
.login a {
    text-decoration: none;
}